[
	{
		name: ""
		description: ""
		dir: "Other/"
		fnames: [
			"CortexCommand.pal"
			"test.act"
			"mini.spl"
			"Pumpkin.cs"
			"s2green.pal"
			"spacewar.pal"
			"drf.color.styl.txt"
			"base2t.one.sketchpalette"
			# "test32.gif"
		]
	}
	{
		name: "DawnBringer's palettes"
		description: "
			<a href='http://www.pixeljoint.com/p/23821.htm'>DawnBringer</a>'s 16 and 32 color palettes in various formats.
			<a href='http://www.pixeljoint.com/forum/forum_posts.asp?TID=12795'>DB16</a> and
			<a href='http://www.pixeljoint.com/forum/forum_posts.asp?TID=16247'>DB32</a>
		"
		dir: "DawnBringer/"
		fnames: [
			"DawnBringers-32-color-palette-pdn.txt"
			"db32.pal"
			"db32.act"
			"db32.gpl"
			"db16.gpl"
			# "db32_v1_pal64x32.png"
		]
	}
	{
		name: "Visibone"
		description: "<a href='http://www.visibone.com/swatches/'>Visibone</a> color swatches in various formats"
		dir: "Other/"
		fnames: [
			"VisiBone2.aco"
			"VisiBone2.gimp"
			"VisiBone2_ap.hpl"
			"VisiBone2_km.psppalette"
		]
	}
	{
		disabled: true
		name: "Adobe Color Book files"
		description: ""
		dir: "AdobeColorBook/"
		fnames: [
			"HKS Z.acb"
			"PANTONE metallic coated.acb"
			"PANTONE pastel coated.acb"
			"PANTONE pastel uncoated.acb"
			"PANTONE process coated.acb"
			"PANTONE process uncoated.acb"
			"PANTONE solid coated.acb"
			"PANTONE solid matte.acb"
			"PANTONE solid to process EURO.acb"
			"PANTONE solid to process.acb"
			"PANTONE solid uncoated.acb"
			"Resene-TCS-Diwali.acb"
			"TOYO Color Finder.acb"
			"TOYO Process Color Finder.acb"
			"TRUMATCH.acb"
			"ANPA Color.acb"
			"DIC Color Guide.acb"
			"FOCOLTONE.acb"
			"HKS E Process.acb"
			"HKS E.acb"
			"HKS K Process.acb"
			"HKS K.acb"
			"HKS N Process.acb"
			"HKS N.acb""HKS Z Process.acb"
		] 
	}
	{
		name: "StarCraft palettes"
		description: "" # "Load even StarCraft's palette formats!"
		dir: "StarCraft/"
		fnames: [
			"bfire.pal"
			"gfire.pal"
			"ofire.pal"
			"Icons.pal"
			"Terrain.pal"
			"Units.pal"
			"Wireframe.pal"
		]
	}
]
